:root {
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --secondary-bg-color: #2F303A;
    --footer-contacts-color: rgba(255, 255, 255, 0.6);
    --primary-font-family: Roboto, sans-serif;
    --secondary-font-family: Raleway, cursive;
    --primary-font-size: 14px;
}

img {
    display: block;
    width: 100%;
}

ul {
   margin: 0; 
}

body {
    margin: 0;

    background-color: #FFFFFF;
    color: var(--primary-text-color);
    background-color: var(--primary-white-color);
    font-family: var(--primary-font-family);
    letter-spacing: 0.03em;
}

.list {
    padding: 0;
    list-style: none;
}

/* --------------ШАПКА------------- */

.page-header {
    border-bottom: 1px solid #ECECEC;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

.navigation {
    display: flex;
    align-items: center;
}

.main-nav {
    display: flex;
    align-items: center;
}

.main-nav__logo {
    color: var(--secondary-text-color);

    font-family: var(--secondary-font-family);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}

.main-nav__logo-web {
    color: var(--accent-color);
}

/* -------------НАВІГАЦІЯ------------ */

.main-nav__list {
    display: flex;
    margin-left: 93px;
}

.main-nav__item:not(:last-child) {
    margin-right: 50px;
}

.main-nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: var(--primary-font-size);
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-nav__link:hover,
.main-nav__link:focus {
    color: var(--accent-color);
}

.main-nav__item {
    position: relative;
}

.main-nav__link--active {
    position: absolute;
    left: 0;
    bottom: 0;

    display: block;
    width: 100%;
    height: 4px;
    background: var(--accent-color);
    border-radius: 2px;
}

/* -------------КОНТАКТИ------------ */

.auth-nav {
    display: flex;
    margin-left: auto;
}

.auth-nav__item:not(:last-child) {
    margin-right: 50px;
}

.auth-nav__link {
    display: flex;
    align-items: center;

    color: var(--primary-text-color);
    font-weight: 500;
    font-size: var(--primary-font-size);
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav__icon {
    margin-right: 10px;

    fill: currentColor;
}

.auth-nav__link:hover,
.auth-nav__link:focus {
    color: var(--accent-color);
}

/*--------------- КНОПКИ -----------------*/



/*------------- РОБОТИ -------------*/



/* -----------------ПІДВАЛ----------------- */

.container.lower {
    display: flex;
}

.footer__logo {
    color: var(--primary-white-color);
    font-family: var(--secondary-font-family);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}

.footer__logo-web {
    color: var(--accent-color);
}

.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--secondary-bg-color);
}

.adress {
    margin-top: 20px;
    font-style: normal;
    font-size: var(--primary-font-size);
    line-height: 1.71;
}

.adress__list {
    padding: 0;
    margin: 0;
}

.adress-list .list+.list {
    margin-top: 9px;
}

.adress__link {
    color: var(--primary-white-color);
    text-decoration: none;
}

.adress__contacts {
    color: var(--footer-contacts-color);
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress__contacts:hover,
.adress__contacts:focus {
    color: var(--accent-color);
}

.footer-connection {
    width: 206px;
    height: 80px;
    margin-left: 70px;
}

.footer-connection__title {
    margin-top: 0;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: var(--primary-white-color);
}

.footer-networks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    width: 206px;
    height: 44px;
}

.footer-networks__link {
    display: flex;
    margin: 0;
    width: 44px;
    height: 44px;

    background: rgba(255, 255, 255, 0.1);
    border-radius: 50px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-networks__icon {
    width: 20px;
    height: 20px;
    margin: auto;

    fill: var(--primary-white-color);
}

.footer-networks__link:hover,
.footer-networks__link:focus {
    background-color: var(--accent-color);
}

.form {
    margin-left: 93px;
}

.form__title {
    margin-top: 0;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    color: var(--primary-white-color);
}

.form__label {
    display: block;
    background-color: var(--secondary-bg-color)
}

.form__input {
    width: 358px;
    height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;

    color: var(--primary-white-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
}

.form__input::placeholder {
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
}

.form__button {
    position: relative;
    display: inline-block;
    min-width: 200px;
    height: 50px;
    border: 0;
    margin-left: 12px;
    padding: 10px 28px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);

    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}

.form__button:hover,
.form__button:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.form__icon {
    position: absolute;
    top: 50%;
    right: 28px;

    transform: translateY(-50%);
}

.form__subscription {
    margin-right: 32px;
}





