.hero {
  margin-bottom: 0;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: var(--secondary-bg-color);
  text-align: center;

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
    }
}

.overlay {
  // height: 600px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  max-width: 100%;

  background-image: var(--gradient),
  url("../img/bgi/hero-bgi-mobile.jpg");
  background-position: center;
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: var(--gradient),
          url("../img/bgi/hero-bgi-mobile-2x.jpg");
    }

  @media screen and (min-width: 768px){
    background-image: var(--gradient),
        url("../img/bgi/hero-bgi-tablet.jpg");
        @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
            background-image: var(--gradient),
              url("../img/bgi/hero-bgi-tablet-2x.jpg");
          }
  }
    @media screen and (min-width: 1200px) {
      background-image: var(--gradient),
        url("../img/bgi/team.jpg");
        @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
            background-image: var(--gradient),
              url("../img/bgi/team-2x.jpg");
          }
    }
}

.hero__title {
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 360px;

  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media screen and (min-width: 1200px) {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 216px;

  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}