.section-team {
  margin-bottom: 0;
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: #F5F4FA;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
    }
}

.section-team__title {
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.section-team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.section-team__item {
  background: #FFFFFF;
    box-shadow: 0px 1px 3px
    rgba(0, 0, 0, 0.12), 0px 1px 1px
    rgba(0, 0, 0, 0.14), 0px 2px 1px
    rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    width: 100%;
    @media screen and (min-width: 768px) {
      width: calc((100% - 30px) / 2);
      }
    @media screen and (min-width: 1200px) {
      width: calc((100% - 90px) / 4);
      }
}

.section-team__worker {
  padding-top: 30px;
  padding-bottom: 30px;
}

.section-team__name {
  margin-top: 0;
  margin-bottom: 10px;

  text-align: center;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.section-team__position {
  margin-top: 0;
  margin-bottom: 16px;  

  text-align: center;
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.19;
}

